useDynLib(leidenAlg)
import(Rcpp)
import(igraph)
import(parallel)
export(as.dendrogram.fakeCommunities)
export(leiden.community.detection)
export(leiden_community)
export(membership.fakeCommunities)
export(rleiden.community)
