useDynLib(leidenAlg)
import(Rcpp)
import(igraph)
import(parallel)
import(sccore)
export(dendrogram.fakeCommunities)
export(leiden.community)
export(membership.fakeCommunities)
export(rleiden.community)
